
$standard-primary: teal;
$standard-secondary:  rgb(3, 112, 112);
$standard-button:  cadetblue;

$summer-primary: rgb(77, 189, 92);
$summer-secondary:  rgb(80, 139, 88);
$summer-button:  rgb(31, 105, 41);

$winter-primary: rgb(44, 84, 158);
$winter-secondary:  rgb(3, 112, 112);
$winter-button:  cadetblue;

$spring-primary: rgb(155, 172, 83);
$spring-secondary:  rgb(3, 112, 112);
$spring-button:  cadetblue;

$fall-primary: rgb(165, 105, 27);
$fall-secondary:  rgb(3, 112, 112);
$fall-button:  cadetblue;